.article-block1 {
  @include clearfix;
  article {
    float: left;
  }

  h2 {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    a {
      color: $blue;
      text-decoration: none;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $blue;
    }
  }
  img {
    max-width: 100%;
    border: 10px solid $white;
    z-index: -10;
    &:hover {
      border: 10px solid $blue;
    }
  }


.bedroc {
  margin-right: 10px;
}
