.social {
  @include clearfix;
  margin: 0;
  padding: 0;
  li {
    float: left;
    list-style-type: none;
    margin-right: 0.75em;
    display: block;
  }
  a {
    text-decoration: none;
    color: $blue;
  }
  span {
    @include visuallyhidden;
  }
}
